body {background-color:white; font-size:90%;background-image:url(../img/dynamicAnchorBg.jpg);font-family:Helvetica;margin:0;height: 100%;}

/* docs */
.code { background-color:#e4e5ef;border:1px solid black; margin:1em; padding:0.8em;overflow:auto;font-family:courier;font-size:8pt;}

.section { border-bottom: 1px dotted black; padding:1em;font-family:helvetica;background-color:white;color:#333;}

.renderMode {border-radius:0.5em;position:fixed;left:2px; top:2px;background-color:#fff;padding:0.3em;opacity:0.8;z-index:5000;filter:alpha(opacity=80);box-shadow: 2px 2px 19px #aaa;-o-box-shadow: 2px 2px 19px #aaa;-webkit-box-shadow: 2px 2px 19px #aaa;-moz-box-shadow: 2px 2px 19px #aaa;}

.renderMode {left:1em;top:1em;width:13em;padding-top:0.1em;padding-bottom:0.5em;}
.renderMode ul {padding-left:1em;}
.renderMode ul li {list-style-type:none;}
.renderMode h5 {margin-top:1em;margin-bottom:0.7em;}

.menu a {text-decoration:none;color:#5aa0ff;font-weight:bold;font-family:helvetica;font-size:13px;padding:0.3em;}
.menu a:hover {color:#1b911b;background-color:#cccccc;}

#explanation {cursor:drag;background-color:white;color:black;border:0.25em solid #ddd;position:absolute;top:40px;width:70%;font-size:90%;-moz-border-radius:1em;border-radius:1em;padding:1em;z-index:1000;opacity:0.9;filter:alpha(opacity=90);font-family:helvetica;box-shadow: 2px 2px 19px #aaa;-o-box-shadow: 2px 2px 19px #aaa;-webkit-box-shadow: 2px 2px 19px #aaa;-moz-box-shadow: 2px 2px 19px #aaa;}
#explanation a {background-color:transparent;}
#explanation a:hover {text-decoration:underline;}

.selected {	color:rgb(189,11,11);}


.section li {list-style-type:none;}

li.bullet {	list-style-type:circle;	}


.section {padding-left:2em;font-size:10pt;}

.index.section {padding-left:0;}
.index {width:20em;font-size:9pt;float:left;background-color:#e4eeee;overflow:auto;padding-left:0.5em;}
.index li {list-style-type:none;}
.index ul, .index h3 {padding-left:1.5em;}

#main {padding-left: 10px;padding-top: 40px;}

.sub {margin-left:1em;}

.table td {	text-align:center;}

path, ._jsPlumb_endpoint { cursor:pointer; }

.hover {box-shadow: 2px 2px 19px red;-o-box-shadow: 2px 2px 19px red;-webkit-box-shadow: 2px 2px 19px red;-moz-box-shadow: 2px 2px 19px red;}



.window {border:1px solid #346789;box-shadow: 2px 2px 19px #aaa;-o-box-shadow: 2px 2px 19px #aaa;-webkit-box-shadow: 2px 2px 19px #aaa;-moz-box-shadow: 2px 2px 19px #aaa;-moz-border-radius:0.5em;border-radius:0.5em;opacity:0.8;filter:alpha(opacity=80);text-align:center;z-index:20; position:relative;background-color:#eeeeef;color:black;font-family:helvetica;font-size:12px;width:150px;height:150px;float:left;margin: 10px;}

.draggable {cursor:move; border:1px solid #346789;box-shadow: 2px 2px 19px #aaa;-o-box-shadow: 2px 2px 19px #aaa;-webkit-box-shadow: 2px 2px 19px #aaa;-moz-box-shadow: 2px 2px 19px #aaa;-moz-border-radius:0.5em;border-radius:0.5em;opacity:0.8;filter:alpha(opacity=80);text-align:center;z-index:20; position:absolute;background-color:#eeeeef;color:black;font-family:helvetica;font-size:12px;width:150px;padding: 5px 0 25px;}

.small_items { border:1px solid #346789;box-shadow: 2px 2px 19px #aaa;-o-box-shadow: 2px 2px 19px #aaa;-webkit-box-shadow: 2px 2px 19px #aaa;-moz-box-shadow: 2px 2px 19px #aaa;-moz-border-radius:0.5em;border-radius:0.5em;opacity:0.8;filter:alpha(opacity=80);text-align:center;z-index:20; position:relative;background-color:#eeeeef;color:black;font-family:helvetica;font-size:12px;padding:0px 30px;float:left;margin:5px;}

.service {height:16px;}

.alive {background-color:#74ff5d;}

.old {background-color:#ff4040;}

.strange {background-color:#835000;}

.name {font-weight:bold;padding:3px 0px;}

.window:hover {box-shadow: 2px 2px 19px #444;-o-box-shadow: 2px 2px 19px #444;-webkit-box-shadow: 2px 2px 19px #444;-moz-box-shadow: 2px 2px 19px #444;filter:alpha(opacity=60);}

.active {border:1px dotted green;}
.hover {border:1px dotted red;}

#window1 { top:30em;left:10em;}
#window2 { top:-2em; left:36em;}
#window3 { top:20em;left:45em; }
#window4 { top:17em; left:22em;}
._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }
.hl { border:3px solid red; }
#debug { position:absolute; background-color:black; color:red; z-index:5000 }

.aLabel {background-color:white;padding:0.4em;font:12px sans-serif;color:#444;z-index:21;border:1px dotted gray;opacity:0.8;filter:alpha(opacity=80);}

.menu {background-color:black;font-family: arial,sans-serif;height: 35px;position: relative;z-index: 100;border-color: white;border-style: solid;border-width: 0 0 0 1px;-moz-box-sizing: content-box;position: fixed;top: 0;width: 100%;}
.menu ul {list-style-type: none;margin: 0;padding: 0;}
.menu li { float: left;position: relative;cursor: pointer;}
.menu a, .menu a:visited {-moz-border-bottom-colors: none;-moz-border-image: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: #AAAAAA;border-style: solid;border-width: 1px 1px 1px 0;color: #FFFFFF;display: block;font-size: 12px;font-weight: bold;height: 27px;line-height: 27px;text-decoration: none;padding-left:10px;padding-right:10px;}
.menu a img {position:relative;top: 4px;}
.menu ul ul {border-top: 1px solid black;height: 0;left: 0;position: absolute;top: 35px;visibility: hidden;}
.menu ul ul ul {left: 149px;top: -1px;width: 149px;}
.menu ul ul ul.left {left: -149px;}
.menu table {border-collapse: collapse;left: 0;position: absolute;top: 0;}
.menu ul ul a, .menu ul ul a:visited {background: none repeat scroll 0 0 #E5E1D6;border-width: 0 1px 1px;color: #000000;height: auto;line-height: 1em;padding: 5px 10px;width: 128px;}
* html .menu ul ul a, * html .menu ul ul a:visited {width: 128px;}
.menu a:hover, .menu ul ul a:hover {background: none repeat scroll 0 0 #FCD6A7;color: #000000;}
.menu *:hover > a, .menu ul ul *:hover > a {background: none repeat scroll 0 0 #FCD6A7;color: #000000;}
.menu ul li:hover ul, .menu ul a:hover ul {visibility: visible;}
.menu ul *:hover ul ul {visibility: hidden;}
.menu ul *:hover ul {visibility: hidden;}
.menu ul *:hover ul *:hover ul {visibility: visible;}

#info {background-color:#cccccc;padding-left: 10px;position: fixed;top: 35px;width:100%;z-index: 50;}
#info * {font-size: 12px;}
#info div {display:none;line-height:25px;margin-left:10px;margin-right:10px;}
#info div a {text-decoration:none;}
#info div a:hover {text-decoration:underline;}

#info_active a,.info_active a { color:green; }

#info_normal a,.info_normal a { color:black;}

#info_strange a,.info_strange a {color:#7b4800;}

#info_old a,.info_old a {color:red;}

.cursor { cursor:pointer; }

.control .edit, .control .info { position:absolute;bottom: 5px;right: 5px; }
.control .delete { position:absolute;bottom: 5px;left: 5px; }
.control .movements { position:absolute;bottom: 5px;right: 25px; }

.movements-table tr td { border: 1px solid black;padding: 2px; }

#inline_edit { border: medium none; }/*margin: 3px 0;*/

.small_items div {margin: 3px 0;}

#inline_controls {position:absolute;width: 35px;z-index: 1000;}

#alerts {position:absolute; top:10px; right:20px;background-color:white;color:black;border:0.25em solid #ddd;-moz-border-radius:1em;border-radius:5px;padding:5px;z-index:1000;font-family:helvetica;box-shadow: 2px 2px 19px #aaa;-o-box-shadow: 2px 2px 19px #aaa;-webkit-box-shadow: 2px 2px 19px #aaa;-moz-box-shadow: 2px 2px 19px #aaa;}

.sourcePoint {float:right; width:8px;background-color:#FFFFFF;border:1px solid #000000;height:10px;position:relative;top:2;left:1;cursor:pointer;opacity:0.3;filter:alpha(opacity=30);}

.dragHover {border:1px dotted;}

.name a { text-decoration:none; color: blue; }
.name a:hover { text-decoration:underline; }

#search_by_name { border:1px solid grey;margin: 7px 10px 0px 10px;text-align:center; width:300px; }

#jquery-live-search {z-index:200;background-color:white;text-align:center;}

.user_info p.sub_info {margin:0;padding:0;font-size:11px;color:#999;}
.user_info  {margin:5px 0px;padding:0;font-size:12px;border:1px dotted black;}
.user_info a  {text-decoration:none; color: blue;}
.user_info a:hover { text-decoration:underline; }